<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/parametre.css">
    <script src="../lib/jquery-3.6.1.min.js"></script>
</head>
<body>
    <div id="reglageZone">
        <div class="action colorAction background">
            <h4 class="actionName ">background</h4>
            <div class="actionZone ">
                <label for="backgroundColor1" class="colorPickerLabel">
                    <div class="backgroundColor1">1</div>
                </label>
                <input type="color" id="backgroundColor1" class="colorPicker">

                <label for="backgroundColor2" class="colorPickerLabel">
                    <div class="backgroundColor2">2</div>
                </label>
                <input type="color" id="backgroundColor2" class="colorPicker">

                <i class="fa fa-refresh actionReseter"></i>
            </div>
            
        </div>

        <div class="action colorAction ">
            <h4 class="actionName ">Text</h4>
            <div class="actionZone ">
                <label for="textColor1" class="colorPickerLabel">
                    <div class="textColor1">1</div>
                </label>
                <input type="color" id="textColor1" class="colorPicker">

                <label for="textColor2" class="colorPickerLabel">
                    <div class="textColor2">2</div>
                </label>
                <input type="color" id="textColor2" class="colorPicker">

                <i class="fa fa-refresh actionReseter"></i>
            </div>
            
        </div>
        
        <div class="action colorAction ">
            <h4 class="actionName ">Composant</h4>
            <div class="actionZone ">
                <label for="composantColor1" class="colorPickerLabel">
                    <div class="composantColor1">1</div>
                </label>
                <input type="color" id="composantColor1" class="colorPicker">

                <label for="composantColor2" class="colorPickerLabel">
                    <div class="composantColor2">2</div>
                </label>
                <input type="color" id="composantColor2" class="colorPicker">

                <i class="fa fa-refresh actionReseter"></i>
            </div>
            
        </div>
        
        <div class="action togglerAction">
            <h4 class="actionName ">Historique</h4>
            <div class="actionZone ">
                <div class="togglerZone ">
                    <div class="historique">
                        <i class="fa fa-eye"></i>
                    </div>
                </div>

                <i class="fa fa-refresh actionReseter"></i>
            </div>
            
        </div>
        
        <div class="action togglerAction">
            <h4 class="actionName ">Projet</h4>
            <div class="actionZone ">
                <div class="togglerZone ">
                    <div class="projet">
                        <i class="fa fa-eye"></i>
                    </div>
                </div>

                <i class="fa fa-refresh actionReseter"></i>
            </div>
            
        </div>



    </div>
    <script src="../js/parametre.js"></script>
</body>
</html>