<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/proposition.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.css">
    <script src="../lib/jquery-3.6.1.min.js"></script>

</head>
<body>
    <div class="propositionBackground">
        <div id="proposition">
        
            <i class="fa fa-close propositionCloser"></i>
            
            
            <div class="propositionMain ">
                <div class="propositionCard">
                    <div style="display: flex; justify-content: center;">
                        <div class="userImage">
                            <img src="../images/logo.jpg" alt="">
                        </div>
                    </div>

                    <h3 align="center">Aya Yaya</h3>
                    
                    <div class="infoZone ">
                        <div class="projectList">
                            <span class="projetName">Projet1</span> <a class="projetIcone"><i class="fab fa-github"></i></a>
                        </div>
                        
                        <div class="projectList">
                            <span class="projetName">Projet1</span> <a class="projetIcone"><i class="fab fa-github"></i></a>
                        </div>
                        
                        <div class="projectList">
                            <span class="projetName">Projet1</span> <a class="projetIcone"><i class="fab fa-github"></i></a>
                        </div>
                        
                        <div class="projectList">
                            <span class="projetName">Projet1</span> <a class="projetIcone"><i class="fab fa-github"></i></a>
                        </div>
                        
                        <p align="center">
                            <span class="voirPlus"><i class="fa fa-arrow-right"></i></span>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <script src="../js/proposition.js"></script>
</body>
</html>